# Video games (backloggd.com)

**Data cleaning (DC)**
***

**Data cleaning steps**:
1. [Data overview](#data_overview).
2. [Data cleaning](#data_cleaning).
    - [Obvious_duplicates](#obvious_duplicates);
    - [Not ascii characters](#not_ascii_characters);
    - [Negative numbers](#negative_numbers);
3. [Ð¡onclusions](#conclusions).
***

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from matplotlib.gridspec import GridSpec

## <a id=data_overview>Data overview</a>
***

In [2]:
df = pd.read_csv("../data/backloggd/backloggd_raw.csv", sep=';')

In [3]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47988 entries, 0 to 47987
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         47988 non-null  object
 1   date         47980 non-null  object
 2   developers   47988 non-null  object
 3   rating       22592 non-null  float64
 4   votes        47988 non-null  object
 5   platforms    47988 non-null  object
 6   genres       47988 non-null  object
 7   category     47988 non-null  object
 8   reviews      47896 non-null  float64
 9   plays        47781 non-null  float64
 10  playing      47781 non-null  float64
 11  backlogs     47781 non-null  float64
 12  wishlists    47781 non-null  float64
 13  description  43750 non-null  object
dtypes: float64(6), object(8)
memory usage: 49.9 MB

In [4]:
df.head()

,name,date,developers,rating,votes,platforms,genres,category,reviews,plays,playing,backlogs,wishlists,description
0,Cathode Ray Tube Amusement Device,1947-12-31,[],3.5,"['8', '4', '0', '3', '6', '6', '1', '2', '1', ...",['Analogue electronics'],['Point-and-Click'],main,43.0,80.0,1.0,14.0,34.0,The cathode ray tube amusement device is the e...
1,Bertie the Brain,1950-08-25,['Josef Kates'],2.9,"['0', '2', '0', '1', '0', '0', '1', '0', '0', ...",['Arcade'],"['Puzzle', 'Tactical']",main,7.0,10.0,0.0,5.0,7.0,Currently considered the first videogame in hi...
2,Nim,1951-12-31,[],NaN,"['0', '1', '0', '0', '0', '1', '0', '0', '0', ...",['Ferranti Nimrod Computer'],"['Pinball', 'Strategy']",main,1.0,2.0,0.0,1.0,0.0,The Nimrod was a special purpose computer that...
3,Draughts,1952-08-31,['Christopher Strachey'],1.2,"['0', '2', '1', '0', '0', '0', '0', '0', '0', ...",['Legacy Computer'],['Card & Board Game'],main,3.0,7.0,0.0,2.0,1.0,A game of draughts (a.k.a. checkers) written f...
4,OXO,1952-12-31,"['Alexander Shafto ""Sandy"" Douglas', 'Universi...",3.0,"['1', '4', '0', '1', '4', '1', '2', '0', '2', ...","['Windows PC', 'EDSAC']","['Puzzle', 'Strategy']",main,13.0,34.0,0.0,8.0,8.0,OXO was a computer game developed by Alexander...

In [5]:
df.tail()

,name,date,developers,rating,votes,platforms,genres,category,reviews,plays,playing,backlogs,wishlists,description
47983,The Legend of Zelda: Picross,2015-08-02,['Vincent Jouillat'],3.2,"['1', '0', '0', '0', '1', '3', '3', '1', '0', ...","['Windows PC', 'Nintendo 3DS']",['Puzzle'],main,3.0,30.0,1.0,7.0,12.0,"A picross fangame based on A Link to the Past,..."
47984,Watch Dogs: Complete Edition,2015-08-02,"['Ubisoft Entertainment', 'Ubisoft Montreal']",3.5,"['2', '0', '0', '0', '5', '5', '20', '8', '9',...","['Windows PC', 'Wii U', 'Xbox 360', 'PlayStati...","['Adventure', 'Shooter']",main,7.0,90.0,2.0,32.0,8.0,Experience Watch_Dogs - the phenomenon of 2014...
47985,Doom & Destiny Advanced,2015-08-03,['Heartbit Interactive'],3.0,"['0', '0', '1', '0', '0', '3', '0', '0', '1', ...","['Windows PC', 'Android', 'Mac', 'Linux', 'iOS...","['Adventure', 'Indie', 'RPG']",main,0.0,8.0,0.0,10.0,3.0,Venture with the most nerdy anti-heroes of all...
47986,My Bones,2015-08-03,['GDNomad'],NaN,"['0', '1', '0', '0', '0', '1', '0', '0', '0', ...",['Windows PC'],"['Adventure', 'Indie']",main,2.0,4.0,0.0,1.0,2.0,"It is a short but very interesting horror,abou..."
47987,Submerged,2015-08-03,['Uppercut Games'],2.5,"['9', '6', '12', '25', '25', '24', '16', '9', ...","['Windows PC', 'PlayStation 4', 'iOS', 'Xbox O...","['Adventure', 'Indie', 'Platform', 'Puzzle']",main,13.0,194.0,1.0,108.0,36.0,Submerged is a third-person combat-free game i...

**Intermediate conclusions:**:

- data read **correctly**;
- **total** there are **14 fields** and **... records** in the dataset;
- the dataset has the following data types: **float64(6)**, **object(8)**:
- the dataset **contains empty records**.

## <a id=data cleaning>Data cleaning</a>
***

In [6]:
cleaning_results = pd.DataFrame(columns=['deleted', '%'])
cleaning_results.index.name = 'step'
total_records = df.shape[0]

### <a id=obvious_duplicates>Obvious_duplicates</a>
***

In [7]:
print(f'{df.duplicated().sum()} - {df.duplicated().sum() / total_records:.2%}')

4627 - 9.64%

In [8]:
cleaning_results.loc["duplicates", "deleted"] = df.duplicated().sum()
cleaning_results.loc["duplicates", "%"] = df.duplicated().sum() / total_records

In [9]:
df = df.drop_duplicates()

### <a id=not_ascii_characters>Not ascii characters</a>
***

In [11]:
not_ascii = df.loc[(~df["name"].apply(lambda x: x.isascii())) | 
                   (~df["developers"].apply(lambda x: x.isascii())) | 
                   (~df["description"].apply(lambda x: isinstance(x, str) and 
                                      x.isascii() or 
                                      not isinstance(x, str))), ["name", "developers", "description"]]

In [12]:
print(f'{not_ascii.shape[0]} - {not_ascii.shape[0] / total_records:.2%}')

4406 - 9.18%

In [13]:
cleaning_results.loc["not_ascii", "deleted"] = not_ascii.shape[0]
cleaning_results.loc["not_ascii", "%"] = not_ascii.shape[0] / total_records

In [14]:
df = df.loc[(df["name"].apply(lambda x: x.isascii())) | 
            (df["developers"].apply(lambda x: x.isascii())) | 
            (df["description"].apply(lambda x: isinstance(x, str) and
                                     x.isascii() or 
                                     not isinstance(x, str)))]

### <a id=negative_numbers>Negative numbers</a>
***

In [18]:
negative_numbers = df[(df["reviews"] < 0) | 
                      (df["plays"] < 0)| 
                      (df["playing"] < 0) | 
                      (df["backlogs"] < 0) | 
                      (df["wishlists"] < 0)]
negative_numbers

,name,date,developers,rating,votes,platforms,genres,category,reviews,plays,playing,backlogs,wishlists,description
23422,CT Special Forces: Back to Hell,2003-10-01,"['Flashpoint Productions', 'Light & Shadow Pro...",NaN,"['0', '0', '0', '0', '0', '0', '0', '0', '0', ...",['PlayStation'],['Shooter'],main,0.0,-1.0,0.0,3.0,3.0,Intelligence agencies are mentioning an increa...
32386,Mytran Wars,2009-04-17,[],NaN,"['0', '0', '0', '0', '0', '0', '0', '0', '0', ...",['PlayStation Portable'],['Strategy'],main,0.0,-1.0,0.0,1.0,2.0,It's the 23rd century the Earth's natural reso...
38659,Nomolos: Storming the Catsle,2012-03-15,"['Gradual Games', 'RetroUSB']",NaN,"['0', '0', '0', '0', '0', '0', '0', '0', '0', ...",['NES'],['Platform'],main,0.0,-1.0,0.0,2.0,0.0,Nomolos is a platformer for the Nintendo Enter...
46349,Belladonna,2015-02-27,['Neckbolt'],2.7,"['0', '1', '1', '2', '1', '5', '2', '1', '0', ...",['Windows PC'],"['Adventure', 'Indie', 'Point-and-Click']",main,5.0,18.0,-1.0,6.0,2.0,"Belladonna is a gothic adventure game, twisted..."

In [19]:
print(f'{negative_numbers.shape[0]} - {negative_numbers.shape[0] / total_records:.2%}')

4 - 0.01%

In [20]:
cleaning_results.loc["negative_numbers", "deleted"] = negative_numbers.shape[0]
cleaning_results.loc["negative_numbers", "%"] = negative_numbers.shape[0] / total_records

In [21]:
df = df[(df["reviews"] > 0) &
        (df["plays"] > 0) & 
        (df["playing"] > 0) &
        (df["backlogs"] > 0) & 
        (df["wishlists"] > 0)]

## <a id=conclusions>Ð¡onclusions</a>
***

In [23]:
cleaning_results.loc["total", "deleted"] = cleaning_results["deleted"].sum()
cleaning_results.loc["total", "%"] = cleaning_results["%"].sum()

In [24]:
(cleaning_results
 .style
 .format(lambda x: f'{x:.2%}', subset='%')
 )